.AboutSection {
    background-color: var(--secondary-color);
    margin-top: -1.5em !important;

    * {
        color: var(--background-color);
    }
}

@media screen and (max-width: 769px) {
    .AboutSection {
        p {
            text-align: center;
        }
    }
}