.ServicesSection {
    background-color: blue;
    
    ul {
        &.offers {
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 1em;
          flex-wrap: wrap;
          padding: 0px 10%;
  
          li {
            width: 250px;
            min-height: fit-content;
            height: 175px;
            display: flex;
            flex-direction: column;
            justify-content: top;
            align-items: center;
            font-size: .62em;
  
            img {
              width: 100px;
              margin-bottom: 1em;
            }
          }
        }
      }
}