.InfoSection {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;

  article {
    &:nth-of-type(1) {
      margin-top: 1.5em;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 1.5em;
    }

    ul {
      strong {
        text-decoration: underline;
      }
    }
  }
}